nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    text-decoration: none;
    color: white;
    padding-right: 10px;
}
a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

li{
    padding-left: 15px;
    font-size: 20px;
}

a:hover{
    color: green;
}

h1{
    padding: 15px;
    font-size: 24px;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        padding: 0px;
        width: 100%;
        flex-wrap: column;
    }
    
    ul {
        flex-direction: column;
        padding: 0px;
    }
  
    li {
        margin: 10px;
    }
    a {
        
    }
  }
