body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}
article {
    background: lightgray;
    height: 20vh;
    flex-grow:1;
    padding: 1em;
}

nav {
    background: beige;
    padding: 1em;
}

aside {
    background: beige;
    padding: 1em;
}

header {
    background: yellowgreen;
    height: 10vh;
    padding: 1em;
}

footer {
    background: yellowgreen;
    height: 10vh;
    padding: 1em;
}

@media (min-width: 576px) {
    main {
        flex-direction: row;
    }
    main .nav {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 20vw;
    }
    main .aside {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 20vw;
    }
}